
@media screen and (max-width: 740px) {
.left-col {
  width : 100%;
}
.sidebar {
  width : 100%;
}
}

nav {
  width: 100%;
  height: 80px;
  background: silver;
  position: fixed;
  margin: 2%;
  margin-right: 40%;
  border-radius: 5px;
  padding: 5px;
}

nav ul li{
  display: inline-block;
  font-family: Helvetica fantasy;
  border-radius: 5px;
}

nav ul li:hover {
  background-color: #BA55D3;
}

nav ul li a, visited {
  color: #FFFFFF;
  display: block;
  padding: 15px;
  text-decoration: none;
}

@font-face {
  font-family: 'Phantom';
  src: url('phantom.ttf');
}

h1 {
  font-size: 40px;
  position: relative;
  float: none;
}

.lK h1 {
  font-family: LionKing;
}

.content {
  margin: 2%;
}

/*PHANTOM OF THE OPERA PAGE*/
/*create a border to see and a bg color*/
#demo1 {border:2px solid red;
         margin-left:-225px;
         margin-top: -100px;
         position:relative;
         left:50%}
#demo1 h1 {border:2px solid red;
         background-color:red;
       }
#demo1 p{border: 0.5px dashed black;
         background-color:purple;
         color: white;
          }
#demo1 img{border:2px solid red; opacity:0}

/* create a size option */
#demo1 {height: 600px; width:500px;}
#demo1 h1 {border:2px solid red; opacity: 0.0l}
#demo1 p{border:2px solid red; width:20px;}
#demo1 img{height:300px; width:auto;}

/* hide overflow*/
#demo1 {display:block; overflow:hidden;}
#demo1 h1 {display:block; overflow:hidden;}
#demo1 p{display:block; overflow:hidden;}
#demo1 img{display:block; overflow:hidden;}

/* translate  - transform*/
#demo1 {transform:translateY(120px);}
#demo1 h1 {transform:translateY(-150px)}
#demo1 p{transform:translate(-30px, 10px);}
}

/* Transitions*/
#demo1 {transition:all 2s;}
#demo1 h1 {transition:all 2s;}
#demo1 p{transition:all 2s;}
#demo1 img{transition:all 2s;}

/* on hover do stuff*/
#demo1:hover {transition:all 2s;}
#demo1:hover h1 {transform:translate(0,0); opacity: 1.0;}
#demo1:hover p{width:75%;
               transform:translate(50px,350px);
               height:40px;
               }
#demo1:hover img{opacity:1.0; transform:translateY(-100px);}
/*END PHANTOM PAGE*/



/*WICKED PAGE*/

/*create a border to see and a big color*/
#demo2 {border:2px solid green;
         margin-left:-225px;
         margin-top: -100px;
         position:relative;
         left:50%}
#demo2 h1 {border:2px solid red;
         background-color:#207c3a;
       }
#demo2 p{border: 0.5px dashed black;
         background-color:purple;
         color: white;
          }
#demo2 img{border:2px solid red; opacity:0}

/* create a size option */
#demo2 {height: 600px; width:500px;}
#demo2 h1 {border:2px solid red; opacity: 0.0}
#demo2 p{border:2px solid red; width:20px;}
#demo2 img{height:auto; width:100%;}

/* hide overflow*/
#demo2 {display:block; overflow:hidden;}
#demo2 h1 {display:block; overflow:hidden;}
#demo2 p{display:block; overflow:hidden;}
#demo2 img{display:block; overflow:hidden;}

/* translate  - transform*/
#demo2 {transform:translateY(120px);}
#demo2 h1 {transform:translateY(150px)}
#demo2 p{transform:translate(-30px, 10px);}
#demo2 img{transform:translate(50px,50px);}
}

/* Transitions*/
#demo2 {transition:all 2s;}
#demo2 h1 {transition:all 2s;}
#demo2 p{transition:all 2s;}
#demo2 img{transition:all 2s;}

/* on hover do stuff*/
#demo2:hover {transition:all 2s;}
#demo2:hover h1 {transform:translate(150px,-10px); opacity: 1.0;}
#demo2:hover p{width:75%;
               transform:translate(50px,350px);
               height:40px;
               }
#demo2:hover img{opacity:1.0; transform:skew(180deg,180deg);}

/*END OF WICKED PAGE*/

/*LION KING*/

/*create a border to see and a big color*/
#demo3 {border:2px solid gold;
         margin-left:-225px;
         margin-top: -100px;
         position:relative;
         left:50%}
#demo3 h1 {border:2px solid red;
         background-color:red;
       }
#demo3 p{border: 0.5px dashed black;
         background-color:purple;
         color: white;
          }
#demo3 img{border:2px solid red; opacity:0; width: 80%;}

/* create a size option */
#demo3 {height: 600px; width:500px;}
#demo3 h1 {border:2px solid red; opacity: 0.0; width: 60%;}
#demo3 p{border:2px solid red; width:20px;}
#demo3 img{height:auto; width:100%;}

/* hide overflow*/
#demo3 {display:block; overflow:hidden;}
#demo3 h1 {display:block; overflow:hidden;}
#demo3 p{display:block; overflow:hidden;}
#demo3 img{display:block; overflow:hidden;}

/* translate  - transform*/
#demo3 {transform:translateY(120px);}
#demo3 h1 {transform:translateY(150px)}
#demo3 p{transform:translate(-30px, 10px);}
#demo3 img{transform:translateY(-200px;);}
}

/* Transitions*/
#demo3 {transition:all 2s;}
#demo3 h1 {transition:all 2s;}
#demo3 p{transition:all 2s;}
#demo3 img{transition:all 2s;}

/* on hover do stuff*/
#demo3:hover {transition:all 2s;}
#demo3:hover h1 {transform:translate(100px,20px); opacity: 1.0;}
#demo3:hover p{width:75%;
               transform:translate(50px,440px);
               height:40px;
               }
#demo3:hover img{opacity:1.0; transform:skew(180deg,180deg);scale(0.8);}

/*END OF LION KING PAGE*/
