body {
  background : #9C0D1B;
  font-family : "Helvetica", "Arial", "Tahoma";
}
iframe {
  text-align:center;
  width:100%;
}
ul {
  font-family: "Verdana";
}
dl {
  text-align : center;
}
h2 {
  text-align : center;
  font-family : cursive;
}
h3 {
  text-align : center;
  font-family: fantasy;
}
h4 {
  text-align : center;
}
p {
  padding : 2%
}
img {
  text-align : center;
  max-width : 100%;
  height : auto;
  width : auto;
}
#wrapper {
  margin : 0 auto;
  max-width : 980px;
  width : 96%;
  background : #F7EBD1;
  padding : 2%;
  border-radius : 10px;
}
header {
  padding : 5px;
  text-align : center;
}
nav {
  background : #9C0D1B;
  padding : 0;
  margin : 0 0;
  border-radius : 10px;
}
nav a:hover, nav li.active a {
  background-color : #000000;
  color : #FFFFFF;
}
nav ul {
  list-style : none;
  margin-left : 7%;
  padding : 0;
}
nav ul li {
  display: inline-block;
}
nav ul li:hover{
  background-color: #333;
}
nav ul li a,visited{
  color: #FFFFFF;
  display: block;
  padding: 15px;
  text-decoration: none;
}
nav ul li a:hover{
  color: #ccc;
  text-decoration: none;
}
nav ul li:hover ul{
  display: block;
}
nav ul ul{
  display: none;
  position: absolute;
  background-color: #333;
  border-top: 0;
  margin-left: 0px;
  min-width: 200px;
  z-index: 9999;
}
nav ul ul li{
  display: block;
}
nav ul ul li a,visited{
  color: #ccc;
}
nav ul ul li a:hover {
  color: #FFD700;
}
.clear {
  clear : both;
}
#social {
  text-align : center;
}
#social img {
  padding-top : 5px;
  height : 50px;
  width : 50px;
}
.left-col {
  background : #F7EBD1;
  width : 60%;
  float : left;
  margin-top: 0.5%;
  margin-bottom: 1.75%;
  border-radius : 10px;
}
.sidebar {
  background : #F7EBD1;
  width : 38%;
  float : right;
  margin-top: 0.5%;
  margin-bottom: 1.75%;
  border-radius : 10px;
}
footer {
  background :: #A09885;
  border-radius : 50px;
}

/*---MEDIA QUERIES---*/

@media screen and (max-width: 740px) {
.left-col {
  width : 100%;
}
.sidebar {
  width : 100%;
}
}
